<p>Current count: <strong>@CounterStateProvider?.CurrentCount</strong></p>
<button @onclick="IncrementCount">Increment</button>

@code {
	[CascadingParameter]
	private CounterStateProvider? CounterStateProvider { get; set; }

	private async Task IncrementCount()
	{
		if (CounterStateProvider is not null)
		{
			CounterStateProvider.CurrentCount++;
			await CounterStateProvider.SaveChangesAsync();
		}
	}
}